body {
  background: #2d3250;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4%;
}
.login__title {
  margin-top: 15%;
  text-align: center;
  font-size: 3em;
  color: #aad9bb;
}

.login__submit {
  margin-top: 3%;
  font-size: 1.2em;
  background: #dcf2f1;
  outline: none;
  border: none;
  padding: 1% 2%;
  width: 21vw;
  transition: all 0.3s linear;
}

.login__submit:hover {
  cursor: pointer;
  background-color: #aad9bb;
  box-shadow: 0 0 30px #aad9bb;
  border-radius: 0.6em;
}
